<section id="body">

  <div class="content">
    <div class="title">
      <h1>Camila e Daniel</h1>
    </div>

    <div class="description">
      <p>Lista de presentes que gostariamos de ganhar!</p>
    </div>

    <div class="to-do-list">
      <div class="card-item">
        <!-- <input type="checkbox" *ngFor="let item of listItems"> -->
        <input type="checkbox" >

        <div class="name-item">
          <span>item</span>
          <!-- <span>{{ item.name }}</span> -->
        </div>
      </div>
    </div>
  </div>

</section>
