<section id="body">

  <div class="content">
    <div class="title">
      <h1>Camila e Daniel</h1>
    </div>

    <div class="description">
      <p>Lista de presentes que gostariamos de ganhar!
        <i class="bi bi-toggle-off"></i>
        <i class="bi bi-toggle-on"></i>
      </p>
    </div>

    <div class="to-do-list" *ngFor="let item of arrayItems">
      <div class="card-item">

        <input type="checkbox" id="name" class="checkbox" (click)="updatingItem(item._id, item.name, item.value, $event)">
        <label for="name">{{ item.name }}</label>
      </div>
    </div>
  </div>

</section>
