<section id="body">

  <div class="content">
    <div class="title">
      <h1>Camila e Daniel</h1>
    </div>

    <div class="description">
      <p>Lista de presentes que gostariamos de ganhar!</p>
    </div>

    <div class="to-do-list" *ngFor="let item of arrayItems">
      <div class="card-item">
        <input type="checkbox" (click)="updatingItem(item._id, item.name, item.value)">

        <div class="name-item">
          <span>{{ item.name }}</span>
        </div>
      </div>
    </div>
  </div>

</section>
