*
  margin: 0
  padding: 0

.content
  background-color: #f9ffeb
  height: 100vh
  width: 100%

  .title
    background-color: #51d35155
    height: 20vh
    width: 30vw

  .description
    background-color: #785414
    height: 20vh
    width: 30vw

  .to-do-list
    background-color: #fff
    border: 1px solid #000
    height: 6vh
    width: 40vw

